
/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff2");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2");
}

.nav .fa span.visible-xs{
	padding-left: 6px;
}

img {
	max-width: 100%;
	max-height: 50%;
}

article{
	clear: left;
	padding-bottom: 2em;
	color: #000;
	font-size: 16pt;
}

article p{
	line-height: 1.1;
	font-weight: 300;
}

article h1{
	word-wrap:break-word;
	font-size: 32pt;
	font-weight: 600;
}

article h1 a{
	color: #000;
	text-decoration: none;
}

article .meta{
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

article .meta li{
	float: left;
	margin-right: 6px;
}

article time{
	color: #aaa;
	display: block;
}

.navbar-brand{
	text-transform: uppercase;
	font-weight: bold;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	img{
		max-height: auto;
	}
}

.simple{
	max-width: 480px;
	margin: 0 auto;
	font-family: 'San Francisco';
	font-size: 12pt;
}
.simple h1{
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}