// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img, iframe, video {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
  html{background: black !important;}
}
// -------------------------------------------- //

$mobile-width: 800px;
$phone-width: 440px;

@mixin phone {
  @media screen and (max-width : $phone-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width : $mobile-width) {
    @content;
  }
}

html { height: 100%; background: white; }

body {
  background: white;
  color: black;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  > .container{
    padding: 1rem;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include mobile {
      width: auto;
    }
    > .main {
      .featured {
        .featured-post {
          display: block;
          position: relative;
          text-decoration: none;
          &:visited {
            text-decoration: none;
          }
          img {
            width: 100%;
          }
          span {
            position: absolute;
            right: 8px;
            bottom: 8px;
            font-size: 2rem;
            color: #000;
            font-weight: bold;
            text-align: right;
            z-index: 2;
          }
          .overlay {
            background: linear-gradient(0deg, #fff, transparent);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 0;
            left: 0;
          }
        }
      }
    }
    > .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .cc {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          a{
            display:block;
          }
        }
      }
      .copyright {
      }
    }
  }
  
}

.post-meta { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img, iframe, video {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem 0 0 0;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  .post {
    .post-meta{
      margin: 0;
      justify-content: end;
      color: gray;
    }
  }
}