<article>
	<h1>About me</h1>

	<p>I am 34 years old and live in the Boston area.</p>
	<p>I am married with two dog children.</p>
	<p>I push code to <a href="https://github.com/kyleshank" target="_blank">Github</a>.</p>
	<p>I shill on <a href="https://www.linkedin.com/in/kyleshank" target="_blank">LinkedIn</a>.</p>
</article>