<article>
	<h1>About me</h1>

	<p><img src="/images/kyle.png" width="256"/></p>

	<p>I am 31 years old and live in the Boston area.  I am married with two dogs.</p>
	<p>I graduated from the <a href="http://www.rit.edu">Rochester Institute of Technology</a> in 2007 with a degree in Software Engineering.</p>
	<p>My current position is Software Architect at <a href="http://lolatravel.com">Lola</a>.</p>
</article>