<article>
	<h1>About me</h1>

	<p><img src="/images/kyle.png" width="256"/></p>

	<p>I am 29 years old and live in the Boston area.  I am married with two dogs.</p>
	<p>I graduated from the <a href="http://www.rit.edu">Rochester Institute of Technology</a> in 2007 with a degree in Software Engineering.</p>
	<p>I currently founded and work as a Software Engineer at <a href="http://formalmethod.net">Formal Method</a>.</p>
</article>