<% blog.articles[0...10].each do |article| %>
  <article>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
    </h1>

    <%= article.summary %>

    <time><%= article.date%></time>
  </article>
<% end %>