---
layout: default
---
{%-assign posts = site.posts-%}

<div class="home">
  {%- for post in posts -%}
      <div class="post">
        <p class="post-meta">
          <time datetime="{{ post.date }}">{{ post.date | date: site.theme_config.date_format }}</time>
        </p>
        <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
        <div class="content">
          {{ post.content }}
        </div>
      </div>
  {%- endfor -%}
</div>

<div class="nav"><a href="/about/index.html">about</a></div>